#Specific folders shown in personal folders
Augmented Data/
Augumented Data/
archive.zip
Raw_Data/
Raw_Data.zip
#General folders to ignore
split_augmented_data/
**/processed_data/
#Standard objects to ignore
venv/
.DS_Store

Raw_Data/
#General folders to ignore
split_augmented_data/
**/processed_data/
#Standard objects to ignore
venv/
.DS_Store
# GCP Specific folders to ignore
Miniconda3-latest-Linux-x86_64.sh
Miniconda3-py39_4.12.0-Linux-x86_64.sh
Miniforge3-Linux-x86_64.sh
test_config_paths.py
test_glob.py
